.menu {
	padding-bottom: 191.98px;
}
@media only screen and (max-width: 1919px) {
	.menu {
		padding-bottom: 150px;
	}
}
@media only screen and (max-width: 1440px) {
	.menu {
		padding-bottom: 100px;
	}
}
@media only screen and (max-width: 1365px) {
	.menu {
		padding-bottom: 50px;
	}
}
@media only screen and (max-width: 1023px) {
	.menu {
		padding-bottom: 20px;
	}
}