.desc__title {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #398A46;
}
@media only screen and (max-width: 1023px) {
	.desc__title {
		padding-bottom: 10px;
	}
}