.menu__title {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 45px;
	color: #424242;
	margin-right: 134px;
}
@media only screen and (max-width: 1023px) {
	.menu__title {
		font-size: 30px;
	}	
}
@media only screen and (max-width: 600px) {
	.menu__title {
		margin-right: 20px;
	}	
}