.datas {
	z-index: 150;
	width: 429px;
	height: 541px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
	border-radius: 18px;
	padding: 35px 59px 51px 50px;
	font-family: 'Raleway';
}
@media only screen and (max-width: 1549px) { 
	.datas {
		order: -1;
	}
}
@media only screen and (max-width: 1023px) { 
	.datas {
		width: 49%;
	}
}
@media only screen and (max-width: 767px) { 
	.datas {
		width: 100%;
	}
}
@media only screen and (max-width: 479px) {
	.datas {
		padding: 10px;
		height: auto;
	}
}