.message__submit {
	position: absolute;
	width: 53px;
	height: 53px;
	border: none;
	background: linear-gradient(313.96deg, #0E540E -93.24%, rgba(0, 150, 0, 0.26) 88.42%), #53B162;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
	border-radius: 80px;
	top: 53px;
	right: -26.5px;
}
@media only screen and (max-width: 1023px) {
	.message__submit { 
		right: -15px;
	}
}