<footer class="footer">
	<div class="container">
		<d iv class="information">
			<div class="information__line">
				<div class="information__column">
					<a href='#' class="information__link">Каталог</a>
					<a href='#' class="information__link">Магазины</a>
					<a href='#' class="information__link">Производителям</a>
					<a href='#' class="information__link">Вакансии</a>
				</div>
				<div class="information__column">
					<a href="#" class="information__link">О нас</a>
					<a href="#" class="information__link">Блог</a>
					<a href="#" class="information__link">Контакты</a>
					<a href="#" class="information__link">Система контроля качества</a>
				</div>
				<div class="information__column">
					<div class="information__hotline">
						<span>Горячая линия поддержки клиентов</span>
					</div>
					<div class="information__hotnumber">
						<div class="information__phone">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M21.0373 16.0747L17.8623 15.7122C17.0998 15.6247 16.3498 15.8872 15.8123 16.4247L13.5123 18.7247C9.97481 16.9247 7.07481 14.0372 5.27481 10.4872L7.58731 8.17471C8.12481 7.63721 8.38731 6.88721 8.29981 6.12471L7.93731 2.97471C7.78731 1.71221 6.72481 0.762207 5.44981 0.762207H3.28731C1.87481 0.762207 0.699807 1.93721 0.787307 3.34971C1.44981 14.0247 9.98731 22.5497 20.6498 23.2122C22.0623 23.2997 23.2373 22.1247 23.2373 20.7122V18.5497C23.2498 17.2872 22.2998 16.2247 21.0373 16.0747Z"/>
							</svg>

						</div> 
						<a href='tel:88008008080'>8 (800) 800 80 80</a>
					</div>
				</div>
				<div class="information__column">
					<a href="#" class="information__logo">
						<img src="%=static=%img/content/footer-information-logo.png">
					</a>
				</div>
			</div>
			<div class="copyright">
				<div class="copyright__column">Otveday, 2019 © Все права защищены</div>
				<a href='#' class="copyright__column">Политика конфиденциальности</a>
				<div class="copyright__column">Сделано со вкусом в <a href='https://markello.ru/'>Markello</a></div>
			</div>
		</div>
	</div>
</footer>