.spisok__minus {
	display: block;
	text-decoration: none;
	background-color: #ffffff;
	width: 20px;
	height: 20px;
	border: 1px solid #FF5F5F;
	border-radius: 50%;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	color: #FF4E27;
	text-align: center;
}