<section class="sub">
	<div class="sub__slider">
		<div class="sub__shadow"></div>
		<div class="sub__shadow"></div>
		<div class="swiper-container sub__container">
			<div class="swiper-wrapper sub__wrapper">
				<div class="swiper-slide sub__slide">
					<div class="sub__slidehover"></div>
					<img src="%=static=%img/content/sub-slide-1.png">
				</div>
				<div class="swiper-slide sub__slide">
					<div class="sub__slidehover"></div>
					<img src="%=static=%img/content/sub-slide-2.png">
				</div>
				<div class="swiper-slide sub__slide">
					<div class="sub__slidehover"></div>
					<img src="%=static=%img/content/sub-slide-3.png">
				</div>
				<div class="swiper-slide sub__slide">
					<div class="sub__slidehover"></div>
					<img src="%=static=%img/content/sub-slide-1.png">
				</div>
				<div class="swiper-slide sub__slide">
					<div class="sub__slidehover"></div>
					<img src="%=static=%img/content/sub-slide-2.png">
				</div>
				<div class="swiper-slide sub__slide">
					<div class="sub__slidehover"></div>
					<img src="%=static=%img/content/sub-slide-3.png">
				</div>
			</div>
		</div>
	</div>

	<div class="sub__inst">
		<div class="sub__logo">
			<img src='%=static=%img/content/sub-logoimg.png' class="sub__logoimg"></img>
		</div>
		<div class="sub__text">Подпишитесь на нас в Instagram</div>
		<div class="sub__tag">@otveday</div>
		<a href="#" class="sub__link">Подписаться</a>
	</div>
</section>