.nav__search {
	width: 31px;
	height: 31px;
	margin-left: 70.33px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	svg {
		 fill: #7D7D7D;
		transition: 0.5s;
	}
	&:hover {
		svg {
			fill: #009600;
		}
	}
}
@media only screen and (max-width: 1919px) {
	.nav__search {
		margin-left: 0;
	}
}