.networks__link {
	margin-right: 19px;
	display: flex;
	align-items: center;
	svg {
		fill: #398A46;
		transition: 0.3s;
	}
	&:nth-child(1),
	&:nth-child(2) {
		&:hover {
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
	&:nth-child(3) {
		&:hover {
			svg {
				width: 28px;
				height: 20px;
			}
		}
	}
}
