.message__area {
	height: 100%;
	resize: none;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 22px 35px 0 35px;
	outline: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #ABABAB;
	&::placeholder {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #ABABAB;
	}
}
@media only screen and (max-width: 1023px) {
	.message__area {
		height: 160px;
	}
}