<section class="reviews">
	<div class="container">
		<div class="reviews__title">Отзывы наших покупателей</div>
		<div class="reviews__text">Мы помогли большому числу людей! Лучше всего они скажут об этом сами</div>
		<div class="reviews__board">
			<div class="review">
				<div class="review__info">
					<a class="review__ava" style="background-image: url('%=static=%img/content/reviews-ava1.png')"></a>
					<div class="review__infotext">
						<div class="review__name">Александр</div>
						<div class="review__add">31 год, Москвская обл.</div>
					</div>
					<div class="review__links">
						<div class="review__link"></div>
						<div class="review__link"></div>
						<div class="review__link"></div>
					</div>
				</div>
				<div class="review__text">
					Вместо пробок и очередей позвольте себе что-то более приятное, а все товары приедут прямо к вам домой!<br><br>
					Сервисом я остался очень доволен. Советую заглянуть на сайт и сделать хотя бы небольшой заказ.
				</div>
			</div>
			<div class="review">
				<div class="review__info">
					<a class="review__ava" style="background-image: url('%=static=%img/content/reviews-ava2.png')"></a>
					<div class="review__infotext">
						<div class="review__name">Виктор</div>
						<div class="review__add">24 года, Москва</div>
					</div>
					<div class="review__links">
						<div class="review__link"></div>
						<div class="review__link"></div>
						<div class="review__link"></div>
					</div>
				</div>
				<div class="review__text">
					Покупаю здесь далеко уже не в первый раз,все как обычно на высшем уровне.Пробовал продукты почти из каждой категории, и ни разу не разочаровался.<br><br>
					Цена во многом даже меньше чем в других магазинах (я уже сменил три), теперь покупаю здесь.Качество отменное, доставка удобная, спасибо за отличный эко-магазин!
				</div>
			</div>
			<a href="#" class="showmore">
				<div class="showmore__title">Показать ещё</div>
				<div class="showmore__link">
					<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10.0215 19.355L15.3648 14L10.0215 8.645L11.6665 7L18.6665 14L11.6665 21L10.0215 19.355Z"/>
					</svg>
				</div>
			</a>
		</div>
		<div class="reviews__more">
			<a href='#' class="reviews__link">Больше отзывов</a>
			<div class="reviews__svg">
				<svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M25.3183 8.06262L19.2704 0.752608C18.9486 0.382497 18.3986 0.349914 18.0487 0.638389C17.6988 0.926858 17.6442 1.50621 17.934 1.85448L22.8074 7.75354L1.31573 7.75354C0.838547 7.75354 0.451734 8.13856 0.451734 8.61354C0.451734 9.08852 0.838547 9.47354 1.31573 9.47354L22.8074 9.47354L17.934 15.3726C17.6442 15.7209 17.7024 16.296 18.0487 16.5887C18.4138 16.8973 18.9806 16.8228 19.2704 16.4745L25.3183 9.1645C25.5884 8.74636 25.5528 8.43169 25.3183 8.06262Z"/>
				</svg>
			</div>
		</div>
	</div>
</section>