.sub__inst {
	width: 313px;
	height: 366px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 28px;
	padding-bottom: 29px;
	margin-left: 92px;
}
@media only screen and (max-width: 1365px) {
	.sub__inst {
		width: 100%;
		margin-left: 0;
		padding-bottom: 0;
		padding-top: 10px;
	}
}