.basketpopup__goto {
	display: block;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 39px;
	color: #646464;
	&:hover {
		text-decoration: none;
	}
}