.shop__wr {
	display: flex;
	justify-content: space-between;
	padding-bottom: 206px;
}
@media only screen and (max-width: 1549px) {
	.shop__wr {
		padding-bottom: 0;
		flex-wrap: wrap;
	}
}
@media only screen and (max-width: 1023px) {
	.shop__wr {
		padding-bottom: 20px;
	}
}