.networks__links {
	display: flex;
	align-items: center;
	margin-top: 28px;
}
@media only screen and (max-width: 1023px) {
	.networks__links {
		margin-top: 0px;
		margin-left: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.networks__links {
		margin-top: 20px;
		margin-left: 0px;
	}
}