.mail__link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #646464;
	position: relative;
	text-decoration: none;
	&::before {
		content: '';
		position: absolute;
		width: 0;
		height: 1px;
		bottom: 1px;
		background-color: #646464;
		transition: 0.5s;
	}
	&:hover {
		&::before {
			width: 100%;
		}
	}
}