.sub__shadow {
	z-index: 10;
	position: absolute;
	width: 306px;
	height: 100%;
	&:nth-of-type(1) {
		background: linear-gradient(270deg, #FFFFFF 7.77%, rgba(255, 255, 255, 0) 97.05%);
		transform: matrix(-1, 0, 0, 1, 0, 0);
		left: -86px;
	}
	&:nth-of-type(2) {
		background: linear-gradient(90deg, #FFFFFF 7.77%, rgba(255, 255, 255, 0) 97.05%);
		transform: matrix(-1, 0, 0, 1, 0, 0);
		right: -86px;
		display: none;
	}
}
@media only screen and (max-width: 1023px) {
	.sub__shadow {
		&:nth-of-type(1) {
			left: -200px;
		}
		&:nth-of-type(2) {
			right: -200px;
			display: block;
		}
	}
}
@media only screen and (max-width: 767px) {
	.sub__shadow {
		&:nth-of-type(1),
		&:nth-of-type(2) {
			display: none;
		}
	}
}