.item {
	position: relative;
	width: 485.64px;
	height: 232.26px;
	background-color: #FFFFFF;
	border-radius: 18px;
	display: flex;
	margin-right: 42.23px;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
	&:first-child,
	&:last-child {
		height: 504.64px;
		flex-direction: column;
		.item__photo {
			height: 364px;
			width: 100%;
		}
		.item__info {
			display: flex;
			width: 100%;
			height: auto;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 52.79px;
		}
		.item__name {
			width: 306.16px;
		}
		.item__link {
			padding-left: 52.79px;
			margin-top: auto;
			margin-bottom: 45.51px;
		}
		.dobavka {
			bottom: 420.18px;
		}
		.item__link-m {
			display: none;
		}
	}
}
@media only screen and (max-width: 1599px) {
	.item {
		margin-right: 0;
		margin-bottom: 10px;
		&:last-of-type {
			order: -1;
		}
	}
}
@media only screen and (max-width: 1080px) {
	.item {
		width: 49%;
	}
}
@media only screen and (max-width: 1023px) {
	.item {
		width: 485.64px;
		&:first-child,
		&:last-child {
			height: 232.26px;
			flex-direction: row;
			.item__photo {
				height: 100%;
				width: 254.43px;
			}
			.item__info {
				display: block;
				padding-left: 0;

				width: 231.21px;
				height: 100%;
				padding-top: 48.34px;
				padding-bottom: 47.02px;
			}
			.item__name {
				width: 100%;
			}
			.dobavka {
				bottom: 45.4px;
			}
			.item__linkblock {
				display: none;
			}
			.item__link-m {
				display: block;
				width: 100%;
				height: auto;
				margin-top: 7.39px;
				margin-bottom: 45.58px;
				padding-left: 0;

			}
		}
	}
}
@media only screen and (max-width: 500px) {
	.item {
		flex-direction: column;
		height: auto;
		.item__photo {
			height: 200px;
			width: 200px;
			margin: 0 auto;
		}
		.item__info {
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.dobavka {
			bottom: auto;
			top: 10px;
		}
		&:first-child,
		&:last-child {
			flex-direction: column;
			height: auto;
			.item__photo {
				width: 200px;
				height: 200px;
			}
			.item__info {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}
}