.tovar__svg {
	background-image: url('%=static=%content/rec.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 84px;
	padding-top: 19px;
	padding-bottom: 14px;
	border-radius: 15px;
}